*
    padding: 0
    margin: 0
    box-sizing: border-box

body, html
    font-size: 16px
    background-color: black
    width: 100vw
    height: 100vh
    display: flex
    justify-content: center
    align-items: center

    .container
        width: 90%
        height: 50%
        display: flex
        flex-direction: column
        justify-content: space-evenly
        
        .display
            display: flex
            justify-content: center
            align-items: center
            color: white
            font-size: 3rem
            // border: 1px solid
            

            span
                font-size: 6rem
                margin: 10px
                padding: 15px 20px
                border-radius: 10px
                color: white

        .hour, .minutes, .seconds, .miliseconds
            background-color: gold

        .sectionButtons
            margin: 0 auto
            display: flex
            justify-content: space-evenly
            align-items: center
            width: 70%
            // border: 1px solid
            color: white

            button
                padding: 20px 40px
                background-color: white
                border: none
                outline-offset: none
                border-radius: 10px
                cursor: pointer
                -webkit-box-shadow: 10px 11px 23px -1px rgba(140,140,140,0.91)
                -moz-box-shadow: 10px 11px 23px -1px rgba(140,140,140,0.91)
                box-shadow: 2px 3px 10px -1px rgba(94, 94, 94, 0.91)
                color: white

                &:hover
                    opacity: 0.7
            
            .start
                background-color: rgb(42, 192, 65)

            .writeDown
                background-color: rgb(42, 117, 192)
                padding: 20px 30px

            .stop
                background-color: rgb(192, 42, 42)
            
            .restart
                background-color: rgb(31, 189, 213)
            

        .times
            // border: 1px solid
            color: white
            font-size: 1.5rem
